.todos-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 25px;
}

.todos-list__item {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #a3eafd;
}
.todos-list__item h4 {
    margin: 0;
}
.todos-form {
    display: flex;
    gap: 10px;
}
.todos-form h3 {
    margin: 0;
}
.todos-form__input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
